<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ project_object.name }}</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2>Tasks</h2>
        {% if project_object.tasks.all|length > 0 %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Assignee</th>
              <th>Start Date</th>
              <th>Due Date</th>
              <th>Is completed</th>
            </tr>
          </thead>
          <tbody>
            {% for ele in project_object.tasks.all %}
            <tr>
              <td>{{ ele.name }}</td>
              <td>{{ ele.assignee }}</td>
              <td>{{ ele.start_date }}</td>
              <td>{{ ele.due_date }}</td>
              <td>{{ ele.is_completed|yesno }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
      </div>
    </main>
  </body>
</html>
