<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{project_object.title}}</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Projects</h1>
        {%if project %}
        <table>
          <tr>
            <th>Name</th>
            <th>Number of tasks</th>
          </tr>
          {% for p in project %}
          <tr>
            <td>
              <a href="{% url 'show_details' project.id %}">{{p.name}}</a>
            </td>
            <td>{{ project.tasks.all| length }}</td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <p>You are not assigned to any projects</p>
        {% endif %}
      </div>
    </main>
  </body>
</html>
